{% extends 'base.html' %}
{% block content %}
  <h2>Relevant Articles for {{ portfolio.name }}</h2>
  <ul>
    {% for article in articles %}
      <li>
        <strong>{{ article.title }}</strong> <br>
        <em>Relevancy: {{ article.is_relevant }}</em><br>
        <span>{{ article.reason }}</span><br>
        <a href="{{ article.url }}" target="_blank">Read more</a>
      </li>
    {% empty %}
      <li>No relevant articles found.</li>
    {% endfor %}
  </ul>
  <a href="/">Back to portfolio selection</a>
{% endblock %}
