<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ customer.firstname }} {{ customer.lastname }} - Portfolio</title>
</head>
<body>
    <h1>{{ customer.firstname }} {{ customer.lastname }}</h1>
     {% for portfolio in portfolios %}
                            <li><a href="/portfolio/{{ portfolio.id }}/" target="_blank">{{ portfolio.name }}</a></li>
                            {% empty %}
                            <li>No portfolios found.</li>
                            {% endfor %}
    

    <!-- You can expand this section with real portfolio data like equities, FX, etc. -->
    <!-- For example, you could have a list or table here if needed -->

    <a href="{% url 'home' %}"><button>Back to Dashboard</button></a>
</body>
</html>